@charset "UTF-8";
html {
  font-size: 20px;
  outline: 0;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -o-text-size-adjust: 100%; }

@media only screen and (min-width: 320px) {
  html {
    font-size: 17.06667px !important; } }

@media only screen and (min-width: 335px) {
  html {
    font-size: 17.86667px !important; } }

@media only screen and (min-width: 345px) {
  html {
    font-size: 18.4px !important; } }

@media only screen and (min-width: 360px) {
  html {
    font-size: 19.2px !important; } }

@media only screen and (min-width: 375px) {
  html {
    font-size: 20px !important; } }

@media only screen and (min-width: 400px) {
  html {
    font-size: 21.33333px !important; } }

@media only screen and (min-width: 414px) {
  html {
    font-size: 22.08px !important; } }

@media only screen and (min-width: 430px) {
  html {
    font-size: 22.93333px !important; } }

@media only screen and (min-width: 454px) {
  html {
    font-size: 24.21333px !important; } }

@media only screen and (min-width: 460px) {
  html {
    font-size: 24.53333px !important; } }

@media only screen and (min-width: 480px) {
  html {
    font-size: 25.6px !important; } }

@media only screen and (min-width: 500px) {
  html {
    font-size: 26.66667px !important; } }

@media only screen and (min-width: 520px) {
  html {
    font-size: 27.73333px !important; } }

@media only screen and (min-width: 540px) {
  html {
    font-size: 28.8px !important; } }

@media only screen and (min-width: 560px) {
  html {
    font-size: 29.86667px !important; } }

@media only screen and (min-width: 580px) {
  html {
    font-size: 30.93333px !important; } }

@media only screen and (min-width: 600px) {
  html {
    font-size: 32px !important; } }

@media only screen and (min-width: 620px) {
  html {
    font-size: 33.06667px !important; } }

@media only screen and (min-width: 640px) {
  html {
    font-size: 34.13333px !important; } }

@media only screen and (min-width: 680px) {
  html {
    font-size: 36.26667px !important; } }

@media only screen and (min-width: 700px) {
  html {
    font-size: 37.33333px !important; } }

@media only screen and (min-width: 720px) {
  html {
    font-size: 38.4px !important; } }

@media only screen and (min-width: 735px) {
  html {
    font-size: 39.2px !important; } }

@media only screen and (min-width: 750px) {
  html {
    font-size: 40px !important; } }

@media only screen and (min-width: 780px) {
  html {
    font-size: 41.6px !important; } }

@media only screen and (min-width: 800px) {
  html {
    font-size: 42.66667px !important; } }

@media only screen and (min-width: 840px) {
  html {
    font-size: 44.8px !important; } }

@media only screen and (min-width: 900px) {
  html {
    font-size: 48px !important; } }

@media only screen and (min-width: 960px) {
  html {
    font-size: 51.2px !important; } }

html {
  font-size: calc(2 * 100vw / 37.5) !important; }

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

ul, ol, ul li, li, ol li {
  list-style: none; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  margin: 0.67em 0;
  font-size: 2em; }

mark {
  color: #000;
  background: #ff0; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  height: 0;
  box-sizing: content-box; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  color: inherit;
  font: inherit; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  box-sizing: border-box; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0; }

legend {
  padding: 0;
  border: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td,
th {
  padding: 0; }

/**
 * [flexbox description] css3伸缩盒
 * @return {[type]} [description]
 */
/**
 * [hc description] 水平居中
 * @return {[type]} [description]
 */
/**
 * [vc description] 垂直居中
 * @return {[type]} [description]
 */
/**
 * [between description] 两端对齐
 * @return {[type]} [description]
 */
/**
 * [between description] 两端对齐
 * @return {[type]} [description]
 */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  outline: none; }

[contenteditable="true"], input, textarea {
  -webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  -o-user-select: auto !important;
  user-select: auto !important; }

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.8rem;
  line-height: 1.05rem;
  color: #000;
  background-color: #f5f5f5;
  -webkit-overflow-scrolling: touch; }

a {
  color: #ffffff;
  text-decoration: none; }
  a:active {
    color: #e6e6e6; }

.mui-content {
  background-color: #f5f5f5;
  -webkit-overflow-scrolling: touch; }

.mui-bar-nav ~ .mui-content {
  padding-top: 2.2rem; }
  .mui-bar-nav ~ .mui-content.mui-scroll-wrapper .mui-scrollbar-vertical {
    top: 2.2rem; }

.mui-bar-header-secondary ~ .mui-content {
  padding-top: 4.4rem; }
  .mui-bar-header-secondary ~ .mui-content.mui-scroll-wrapper .mui-scrollbar-vertical {
    top: 4.4rem; }

.mui-bar-footer ~ .mui-content {
  padding-bottom: 2.2rem; }
  .mui-bar-footer ~ .mui-content.mui-scroll-wrapper .mui-scrollbar-vertical {
    bottom: 2.2rem; }

.mui-bar-footer-secondary ~ .mui-content {
  padding-bottom: 4.4rem; }
  .mui-bar-footer-secondary ~ .mui-content.mui-scroll-wrapper .mui-scrollbar-vertical {
    bottom: 4.4rem; }

.mui-bar-tab ~ .mui-content {
  padding-bottom: 2.5rem; }
  .mui-bar-tab ~ .mui-content.mui-scroll-wrapper .mui-scrollbar-vertical {
    bottom: 2.5rem; }

.mui-bar-footer-secondary-tab ~ .mui-content {
  padding-bottom: 4.7rem; }
  .mui-bar-footer-secondary-tab ~ .mui-content.mui-scroll-wrapper .mui-scrollbar-vertical {
    bottom: 4.7rem; }

.mui-content-padded {
  margin: 0.5rem; }

.mui-inline {
  display: inline-block;
  vertical-align: top; }

.mui-block {
  display: block !important; }

.mui-visibility {
  visibility: visible !important; }

.mui-hidden {
  display: none !important; }

.mui-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.mui-ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal !important;
  word-wrap: break-word; }

.mui-table {
  display: table;
  table-layout: fixed;
  width: 100%; }

.mui-table-cell {
  display: table-cell;
  position: relative; }

.mui-text-left {
  text-align: left !important; }

.mui-text-center {
  text-align: center !important; }

.mui-text-justify {
  text-align: justify !important; }

.mui-text-right {
  text-align: right !important; }

.mui-pull-left {
  float: left; }

.mui-pull-right {
  float: right; }

.mui-list-unstyled {
  padding-left: 0;
  list-style: none; }

.mui-list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -0.25rem; }

.mui-list-inline > li {
  display: inline-block;
  padding-left: 0.25rem;
  padding-right: 0.25rem; }

.mui-clearfix:before, .mui-clearfix:after {
  display: table;
  content: " "; }

.mui-clearfix:after {
  clear: both; }

.mui-bg-primary {
  background-color: #ffffff; }

.mui-bg-positive {
  background-color: #4cd964; }

.mui-bg-negative {
  background-color: #dd524d; }

.mui-error {
  margin: 4.4rem 1.75rem;
  padding: 0.5rem;
  border-radius: 6px;
  background-color: #bbb; }

.mui-subtitle {
  font-size: 0.75rem; }

/*# sourceMappingURL=maps/caixuetang.ui.css.map */
